@import url('node_modules/modern-normalize/modern-normalize.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./ourworks.css');
@import url('./team.css');
@import url('./customers.css');
@import url('./footer.css');
@import url('./reset.css');
@import url('./fonts.css');

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #4d5ae5;
  --secondary-color: #404bbf;
  --success-color: #31d0aa;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --third-text-color: #8e8f99;
  --light-text-color: #e7e9fc;
  --modal-bg-color: #fcfcfc;
  --modal-main-color: #f4f4fd;
  --transition-timings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  overscroll-behavior: none;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.72px;
  color: var(--secondary-text-color);
}
